# ==========================================
# CONFIGURAÇÃO DO MINIO (Data Lake)
# ==========================================
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123

# ==========================================
# CONFIGURAÇÃO DO POSTGRES (Data Warehouse)
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=crypto_db
POSTGRES_PORT=5432
POSTGRES_HOST=postgres_data

# ==========================================
# USUÁRIO DA APLICAÇÃO
# ==========================================
APP_DB_USER=docker
APP_DB_PASSWORD=docker
APP_DB_NAME=docker
